<VirtualHost *:{{ port }}>
    ServerName assets.{{ domain }}

    ErrorLog /var/log/apache2/assets.{{ domain }}-error.log
    CustomLog /var/log/apache2/assets.{{ domain }}-access.log combined

    <Location "/+apidoc/">
        Options MultiViews
        DirectoryIndex index
        AddType application/vnd.sun.wadl+xml;qs=0.9 .wadl
        AddType application/vd.sun.wadl+xml;qs=0.8 .brokenwadl
        AddType application/json;qs=0.9 .json
        Header set Cache-Control "public,max-age=5184000"
        Require all granted
    </Location>
    Alias "/+apidoc/" "{{ payloads_dir }}/{{ build_label }}/lib/canonical/launchpad/apidoc/"

    <Location "/+combo/">
        Header set Cache-Control "public,max-age=5184000"
        Require all granted
        ProxyPass "unix:/run/convoy.socket|http://localhost/"
    </Location>

    <LocationMatch "^/\+icing/rev(?<commit>[0-9a-f]+)/">
        Header set Cache-Control "public,max-age=5184000"
        Require all granted
    </LocationMatch>
    AliasMatch "^/\+icing/rev([0-9a-f]+)/(.*)" "{{ payloads_dir }}/$1{{ build_label_suffix }}/lib/canonical/launchpad/icing/$2"
    <Location "/+icing/">
        Header set Cache-Control "public,max-age=5184000"
        Require all granted
    </Location>
    Alias "/+icing/" "{{ payloads_dir }}/{{ build_label }}/lib/canonical/launchpad/icing/"

    <Location "/@@/">
        Options MultiViews
        Header set Cache-Control "public,max-age=5184000"
        Require all granted
    </Location>
    Alias "/@@/" "{{ payloads_dir }}/{{ build_label }}/lib/canonical/launchpad/images/"

    <LocationMatch "^/favicon\.(?:ico|gif|png)$">
        Header set Cache-Control "public,max-age=5184000"
        Require all granted
    </LocationMatch>
    AliasMatch "^/favicon\.(?:ico|gif|png)$" "{{ payloads_dir }}/{{ build_label }}/lib/canonical/launchpad/images/launchpad.png"

    <Location "/_status/check">
        Require all granted
    </Location>
    Alias "/_status/check" "/dev/null"
</VirtualHost>

