# Copyright 2023 Canonical Ltd.  This software is licensed under the
# GNU Affero General Public License version 3 (see the file LICENSE).

# Part of the launchpad-admin Juju charm.

# This isn't an alias, but ~/.bash_aliases is conveniently already sourced
# by the default ~/.bashrc.
export LPCONFIG=launchpad-admin

