<VirtualHost *:80>
	ServerName {{ domain_ppa_private }}
{%- if domain_ppa_private_alt %}
	ServerAlias {{ domain_ppa_private_alt }}
{%- endif %}
	DocumentRoot	{{ ppa_archive_private_root }}/

	CustomLog /var/log/apache2/{{ domain_ppa_private }}-access.log combined
	ErrorLog /var/log/apache2/{{ domain_ppa_private }}-error.log

	<Directory "{{ ppa_archive_private_root }}/*/*">
		Options Indexes SymLinksIfOwnerMatch
	</Directory>

	<Directory "{{ ppa_archive_private_root }}/">
		Options -Indexes
		AllowOverride None
		Require valid-user
		AuthType Basic
		AuthName "Token Required"
		AuthBasicProvider wsgi
		Header always merge Vary Authorization
		WSGIAuthUserScript {{ code_dir }}/scripts/wsgi-archive-auth.py application-group=launchpad-ppa-auth
	</Directory>

	Header set Strict-Transport-Security "max-age=2592000"

	RewriteEngine	On
	RewriteRule	^/$	https://{{ domain }}	[R,L]
	RewriteRule	^/favicon\.ico$	https://{{ domain }}/favicon.ico	[R,L]
	RewriteCond	%{REQUEST_URI}	!^/icons/
	RewriteRule	^/([^/]+)(/[^/]+)?/?$	https://{{ domain }}/~$1	[R,L]
</VirtualHost>

