<VirtualHost *:8080>
	#NOWEBSTATS
	ServerName {{ domain_ppa_buildd }}
	DocumentRoot	{{ ppa_archive_private_root }}

	CustomLog /var/log/apache2/{{ domain_ppa_buildd }}-access.log combined
	ErrorLog /var/log/apache2/{{ domain_ppa_buildd }}-error.log

	<Directory "{{ ppa_archive_private_root }}/">
		IndexOptions NameWidth=* +SuppressDescription
		Options +Indexes
		IndexIgnore favicon.ico
		AllowOverride None
		Require valid-user
		AuthType Basic
		AuthName "Token Required"
		AuthBasicProvider wsgi
		WSGIAuthUserScript {{ code_dir }}/scripts/wsgi-archive-auth.py application-group=launchpad-ppa-auth
	</Directory>
</VirtualHost>

