# A small amount of local content.

<VirtualHost *:443>
    ServerName media.{{ domain }}

    SSLEngine On
    SSLCertificateFile /etc/ssl/certs/{{ domain }}.crt
    SSLCertificateKeyFile /etc/ssl/private/{{ domain }}.key
{%- if ssl_chain_required %}
    SSLCertificateChainFile /etc/ssl/certs/{{ domain }}_chain.crt
{%- endif %}

    CustomLog /var/log/apache2/media.{{ domain }}-access.log combined
    ErrorLog /var/log/apache2/media.{{ domain }}-error.log

    DocumentRoot {{ base_dir }}/www-media
    <Directory "{{ base_dir }}/www-media">
        Options -Indexes
        AllowOverride None
        Require all granted
    </Directory>
</VirtualHost>

