<VirtualHost *:80>
    ServerName {{ domain_test_rebuild }}
{%- for domain_test_rebuild_alias in domain_test_rebuild_aliases %}
    ServerAlias {{ domain_test_rebuild_alias }}
{%- endfor %}

    CustomLog /var/log/apache2/{{ domain_test_rebuild }}.access.log combined
    ErrorLog /var/log/apache2/{{ domain_test_rebuild }}.error.log

    DocumentRoot {{ rebuilds_dir }}

    Alias /ubuntu "{{ rebuilds_dir }}"

    <Directory "{{ rebuilds_dir }}">
        IndexOptions NameWidth=* +SuppressDescription
        Options +Indexes +FollowSymLinks
        IndexIgnore favicon.ico
        Require all granted
    </Directory>
</VirtualHost>

