[Unit]
Description=Celery service for native publisher slow jobs (fallback)
After=network.target

[Service]
Type=exec
User=launchpad
Group=launchpad
Environment=LPCONFIG=launchpad-native-publisher
WorkingDirectory={{ code_dir }}
ExecStart={{ code_dir }}/bin/celery worker \
    --queue native_publisher_job_slow \
    --config=lp.services.job.celeryconfig \
    --hostname=native_publisher_job_slow \
    --loglevel=DEBUG \
    --logfile={{ logs_dir }}/celeryd_native_publisher_job_slow.log
ExecStop=/bin/kill -TERM $MAINPID
ExecReload=/bin/kill -HUP $MAINPID
PrivateTmp=true
Restart=on-failure

[Install]
WantedBy=multi-user.target

