{{ logs_dir }}/*.log {
        rotate 21
        dateext
        daily
        compress
        delaycompress
        sharedscripts
        postrotate
            systemctl reload celeryd_native_publisher_job
            systemctl reload celeryd_native_publisher_job_slow
        endscript
}

