<VirtualHost *:80>
    ServerName {{ domain_cron_control }}
    ServerAdmin {{ webmaster_email }}

    CustomLog /var/log/apache2/{{ domain_cron_control }}-access.log combined
    ErrorLog /var/log/apache2/{{ domain_cron_control }}-error.log

    DocumentRoot "{{ www_dir }}"
    <Directory "{{ www_dir }}/">
        Require all granted
    </Directory>

    # XXX cjwatson 2023-10-09: Temporarily redirect old URLs until we've
    # finished migration.
    Redirect /production.ini /cron.ini
    Redirect /qastaging.ini /cron.ini
    Redirect /staging.ini /cron.ini
</VirtualHost>

