bind = [":{{ port_main }}", ":{{ port_xmlrpc }}"]
workers = {{ wsgi_workers }}
# Incompatible with `reload = True`, but that's fine for a Juju deployment.
preload_app = True
# This is set relatively low to work around memory leaks on Python 3.
max_requests = {{ wsgi_worker_max_requests }}
log_level = "DEBUG"
# Must be higher than the highest hard_timeout feature rule.
timeout = 65
graceful_timeout = 120

