{{ logs_dir }}/launchpad.log
{
    rotate 504
    hourly
    dateext
    dateformat -%Y%m%d-%H
    delaycompress
    compress
    notifempty
    missingok
    create 0644 syslog adm
    sharedscripts
    postrotate
        invoke-rc.d rsyslog rotate >/dev/null
    endscript
}

