{{ logs_dir }}/launchpad.log
{
    {{ logrotate_frequency }}
    dateformat {{ logrotate_dateformat }}
    rotate {{ logrotate_n_files }}
    dateext
    delaycompress
    compress
    notifempty
    missingok
    create 0644 syslog adm
    sharedscripts
    postrotate
        /usr/lib/rsyslog/rsyslog-rotate
    endscript
}

