bind = [":{{ port_main }}", ":{{ port_xmlrpc }}"]
workers = {{ wsgi_workers }}
# This is set relatively low to work around memory leaks on Python 3.
max_requests = 2000
log_level = "DEBUG"
# Must be higher than the highest hard_timeout feature rule.
timeout = 65
graceful_timeout = 120

