{{ logs_dir }}/*.log {
        rotate 21
        dateext
        daily
        compress
        delaycompress
        sharedscripts
        postrotate
            systemctl reload celeryd_bzrsyncd_job
            systemctl reload celeryd_bzrsyncd_job_slow
        endscript
}

