{{ logs_dir }}/*.log
{
    rotate 90
    daily
    dateext
    delaycompress
    compress
    notifempty
    missingok
    create 0644 {{ user }} {{ user }}
    sharedscripts
    postrotate
        systemctl reload launchpad-buildd-manager.service
    endscript
}

