# Secret configuration data.  This is stored in an overlay directory, mainly
# to avoid accidental information leaks from the public configuration file.
# Entries in this file should not be shared with developers, although the
# structure of the file is not secret, only configuration values.

# A schema's sections, keys, and values are automatically inherited, except
# for '.optional' sections.  Update this config to override key values.
# Values are strings, except for numbers that look like ints.  The tokens
# true, false, and none are treated as True, False, and None.

[signing]
client_private_key: {{ signing_client_private_key }}

