<VirtualHost *:80>
    ServerName {{ domain_ftpmaster }}

    DocumentRoot {{ archives_dir }}/

    CustomLog /var/log/apache2/{{ domain_ftpmaster }}-access.log combined
    ErrorLog /var/log/apache2/{{ domain_ftpmaster }}-error.log

{% for distribution in ("ubuntu", "ubuntu-partner") %}
    <Directory "{{ archives_dir }}/{{ distribution }}/">
        IndexOptions NameWidth=* +SuppressDescription
        Options +Indexes +FollowSymLinks
        IndexIgnore favicon.ico
        AllowOverride None
        Require all granted
    </Directory>
{% endfor %}
</VirtualHost>

