<VirtualHost *:80>
    ServerName {{ domain_ftpmaster }}

    DocumentRoot {{ archives_dir }}/ubuntu-archive/

    CustomLog /var/log/apache2/{{ domain_ftpmaster }}-access.log combined
    ErrorLog /var/log/apache2/{{ domain_ftpmaster }}-error.log

    <Directory "{{ archives_dir }}/ubuntu-archive/">
        IndexOptions NameWidth=* +SuppressDescription
        Options +Indexes +FollowSymLinks
        IndexIgnore favicon.ico
        AllowOverride None
        Require all granted
    </Directory>

    # Deny access to subdirectories other than "ubuntu" and
    # "ubuntu-partner".  (This also has the effect of including only those
    # subdirectories in the top-level directory index.)
    <DirectoryMatch "{{ archives_dir }}/ubuntu-archive/[^/]+(?<!/ubuntu|/ubuntu-partner)/">
        Require all denied
    </DirectoryMatch>
</VirtualHost>

